<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yibao.canaldemo.dao.mapper.PatientDoctorRelationMapper">

    <select id="findAllDoctorPatientRelationList"
            resultMap="com.yibao.canaldemo.dao.mapper.PatientDoctorRelationBaseMapper.BaseResultMap">
        select
        <include refid="com.yibao.canaldemo.dao.mapper.PatientDoctorRelationBaseMapper.BaseColumn"/>
        from yb_patient_doctor_relation
        where is_deleted = 0 and patient_id != 0
    </select>


    <select id="getDoctorPatientRelationList"
            resultMap="com.yibao.canaldemo.dao.mapper.PatientDoctorRelationBaseMapper.BaseResultMap">
        select
        <include refid="com.yibao.canaldemo.dao.mapper.PatientDoctorRelationBaseMapper.BaseColumn"/>
        from yb_patient_doctor_relation
        where is_deleted = 0 and (doctor_id,patient_id) in
        <foreach collection="patientDoctorRelationList" separator="," open="(" close=")" item="item">
            (#{item.doctorId},#{item.patientId})
        </foreach>
    </select>

</mapper>